# --- DATABASE CONFIGURATION ---
DB_USER=
DB_PASSWORD=
DB_NAME=

# --- DOCKER INTERNAL CONFIG ---
# (Dùng khi các container "nói chuyện" với nhau)
# Phải khớp với tên service trong docker-compose.yml
DB_HOST_DOCKER=
# Port nội bộ của container Postgres
DB_PORT_DOCKER=

# --- LOCAL/EXTERNAL CONFIG ---
# (Dùng khi chạy script từ máy thật hoặc kết nối bằng pgAdmin)
DB_HOST_LOCAL=localhost
# Port của Postgres cài trên máy thật
DB_PORT_LOCAL=5432 

# --- SCRAPER CONFIG ---
USER_AGENT="