# Python
venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment variables
.env

# IDE / Editor specific
.vscode/
.idea/

# OS specific
.DS_Store
Thumbs.db

.topcv_jobs_data_20250521_213822.json
.topcv_selenium_page_20250521_213822.html
